*, 
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222020;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /*susun isian (element, gambar, sejenisnya) jadi horizontal*/
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1; /*buat isi sisa ruang */
}

.container-navbar {
    background-color: rgb(0, 110, 255);
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.logo-navbar{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
}

.logo-text{
    display: flex;
    font-family: sans-serif;
    font-weight: 550;
    text-decoration: none;
    color: white;
}

.ul-navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-left: auto;
}

.li-navbar{
    font-family: sans-serif;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    font-weight: 550;
    white-space: nowarp;
}

.li-navbar:hover{
    background-color: rgb(0, 92, 211);
    transition: .3s ease-in-out;
    transition-delay: .1s;
    border-radius: 6px;
}

.navbar-title{
    color: white;
    text-decoration: none;
    display: block;
    padding: 0;
}

.konten-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.icon-medsos{
    display: flex; 
    gap: 40px; 
    margin-bottom: 50px;
}

.icon-medsos2{
    display: flex;
    width: 200px;
    height: 200px;
    background-color: #181717;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    overflow: hidden; /*gambar ga keluar kotak*/
    transition: .3s ease-in-out ;
    margin-right: 40px;
    margin-left: 40px;
}

.link-medsos{
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.ikon-box:hover {
    transform: translateY(-5px);
}

.icon-fesnuk{
    height: 55%;
    width: 55%;
    object-fit: contain;
}

.icon{
    height: 70%;
    width: 70%;
    object-fit: contain;
}

.container-footer{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
}



.h1-footer{
    font-size: 15px;
    font-family: sans-serif;
    color: rgb(97, 91, 91);
}