*, 
html{
    margin: 0;
    padding: 0;
}

.container {
    background-color: #222020;
}

.container-navbar {
    background-color: rgb(0, 110, 255);
    height: 8vh;
    width: 100%;
}

.ul-navbar{
    height: 8vh;
    display: flex;
    justify-content: right;
    align-items: center;
}

.li-navbar{
    list-style-type: none;
    font-family: sans-serif;
    color: white;
    padding: 10px;
    margin: 5px;
    font-weight: 550;
}

.li-navbar:hover{
    background-color: rgb(0, 92, 211);
    transition: .3s ease-in-out;
    transition-delay: .1s;
    border-radius: 6px;
}

.home-navbar{
    color: white;
    text-decoration: none;
}

.about-navbar{
    color: white;
    text-decoration: none;
}

.sosmed-navbar{
    color: white;
    text-decoration: none;
}

.konten-1{
    display: flex;
    width: 400px;
    justify-content: flex-start;
    align-items: center;
    height: 82vh;
    font-size: 25px;
    color: white;
    font-family: sans-serif;
    border-radius: 15px;
    margin-left: 100px;
}

.p1-text{
    font-size: 30px;
    display:inline;
}

.container-footer{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
}



.h1-footer{
    font-size: 15px;
    font-family: sans-serif;
    color: rgb(97, 91, 91);
}